body {
  background-color: #2f292b;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px 16px;
  font-family: Lemon, sans-serif;
  font-size: 68px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.73), 0 2px 4px rgba(0, 0, 0, 0.19);
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  display: block;
  width: 32%;
  height: 54px;
  padding: 4px 29px;
  float: left;
  border-radius: 4px;
  background-color: #c96c47;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.11), inset 0 0 0 1px hsla(0, 0%, 100%, 0.08), inset 0 1px 0 0 hsla(0, 0%, 100%, 0.16), inset 0 -44px 38px -25px rgba(0, 0, 0, 0.09);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  background-color: #e66f40;
}

.button:active {
  background-color: rgba(230, 111, 64, 0.63);
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.16), inset 0 2px 6px 1px rgba(0, 0, 0, 0.11), inset 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 44px 38px -25px rgba(0, 0, 0, 0.13);
}

.subtitle {
  margin-top: 111px;
  font-size: 25px;
  line-height: 34px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24), 0 1px 0 rgba(0, 0, 0, 0.25);
}

.field {
  width: 65%;
  height: 54px;
  margin-right: 3%;
  float: left;
  border: 0px solid #000;
  border-radius: 4px;
  background-color: rgba(47, 41, 43, 0.65);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.31), inset 0 2px 9px -1px rgba(0, 0, 0, 0.14), 0 0 0 1px hsla(0, 0%, 100%, 0.09), 0 1px 0 0 hsla(0, 0%, 100%, 0.13);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  color: #fff;
  font-size: 16px;
}

.field:hover {
  background-color: rgba(47, 41, 43, 0.76);
}

.field:focus {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.31), inset 0 2px 9px -1px rgba(0, 0, 0, 0.14), 0 0 0 2px #c96c47, 0 0 12px 1px #c96c47;
}

.sign-up-form {
  margin-top: 47px;
}

.social-widget {
  width: 100px;
  float: left;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget:hover {
  opacity: 1;
}

.success-message {
  padding: 29px;
  border-radius: 4px;
  background-color: #c96c47;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.14), inset 0 0 0 1px hsla(0, 0%, 100%, 0.09), inset 0 1px 0 0 hsla(0, 0%, 100%, 0.12);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.56);
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.header-section {
  height: 100%;
  padding-top: 498px;
  padding-bottom: 556px;
  background-color: #000;
  background-image: url('../images/bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.footer-section {
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: #2f292b;
  box-shadow: 0 -1px 0 0 hsla(0, 0%, 100%, 0.08), inset 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  color: #7e7c87;
}

.copyright {
  color: hsla(0, 0%, 100%, 0.29);
}

.container {
  padding-right: 129px;
  padding-left: 129px;
}

.share-button {
  display: inline-block;
  width: 58px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-button.facebook {
  width: 49px;
}

.share-button.google {
  width: 54px;
}

.success-text {
  margin-bottom: 10px;
  text-shadow: none;
}

.referal-text {
  margin-top: 16px;
  margin-bottom: 13px;
  color: hsla(0, 0%, 100%, 0.61);
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
}

.social-btn {
  margin-right: 7px;
  margin-left: 7px;
  opacity: 0.31;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-btn:hover {
  opacity: 1;
}

.align-right {
  text-align: right;
}

.slider-nav {
  height: 40px;
  font-size: 9px;
}

.heading {
  display: block;
  margin-top: 121px;
  font-family: 'Droid Serif', serif;
}

.body {
  background-color: #000;
}

.text-block {
  display: inline-block;
  margin-top: -39px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
}

.text-block-2 {
  margin-top: -221px;
}

@media screen and (max-width: 991px) {
  .subtitle {
    margin-top: -129px;
    margin-left: 338px;
  }

  .header-section {
    margin-left: 0px;
    padding: 915px 0px 0px;
    background-position: 50% 50%;
  }

  .container {
    padding-right: 79px;
    padding-left: 79px;
  }

  .heading {
    margin-left: 360px;
  }

  .text-block-2 {
    margin-top: -675px;
  }
}

@media screen and (max-width: 767px) {
  .subtitle {
    margin-top: -655px;
    margin-left: 401px;
  }

  .sign-up-form {
    margin-bottom: 0px;
  }

  .header-section {
    margin-left: 0px;
    padding-top: 916px;
    padding-bottom: 0px;
  }

  .footer-section {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .container {
    padding-right: 11px;
    padding-left: 11px;
  }

  .heading {
    margin-left: 336px;
  }

  .body {
    margin-bottom: 777px;
    padding-bottom: 189px;
    background-color: #000;
  }

  .text-block {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .subtitle {
    margin-top: 242px;
    margin-left: 622px;
    font-size: 16px;
    text-align: center;
  }

  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .social-widget {
    width: 96px;
  }

  .header-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -4px;
    padding: 1px 0px 577px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-radius: 0px;
    background-image: url('../images/bgmobile.jpg');
    background-position: 50% 50%;
    opacity: 1;
    outline-color: #fff;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
    text-align: center;
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
  }

  .copyright {
    margin-bottom: 7px;
    text-align: center;
  }

  .align-right {
    text-align: center;
  }

  .heading {
    margin-top: 97px;
    margin-left: 215px;
    font-family: 'Changa One', Impact, sans-serif;
    font-size: 30px;
  }

  .body {
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #000;
  }

  .container-2 {
    margin-top: -5px;
    padding-bottom: 684px;
    background-color: #000;
    outline-color: #555;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 3px;
  }

  .text-block {
    margin-top: -137px;
    padding-top: 0px;
  }

  .text-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 205px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0px;
  }
}

